.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
}

.album__cover img {
    max-width: 450px;
    border-radius: 15px;
}

.album__name {
    background: rgb(37, 36, 36);
    text-align: center;
}

.album__name h3 {
    padding-top: 10px;
    color: white;
}
