.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.album__cover img {
    max-width: 450px;
    border-radius: 15px;
}

.album__name h2 {
    padding-top: 10px;
    color: white;
}
