.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.album__cover img {
    max-width: 450px;
    border-radius: 15px;
}

.album__name {
    background: rgb(37, 36, 36);
    text-align: center;
}

.album__name h3 {
    padding-top: 10px;
    color: white;
}

@media only screen and (max-width: 500px) {
    .album__cover img {
        max-width: 300px;
        border-radius: 15px;
    }
}
