.player {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 30px;
    margin-top: 110%;
}

.rhap_container {
    background: transparent;
    box-shadow: none;
}

.rhap_time {
    color: white;
}

.rhap_progress-filled {
    background: #f10d0d;
}

.rhap_download-progress {
    color: black;
}
