.app {
    width: 500px;
    margin: 30px auto;
    overflow: none;
    max-height: 800px;
    height: 100vh;
    border: 2px solid rgb(126, 144, 158);
    border-radius: 15px;
    background: transparent;
    position: relative;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .app {
        width: 300px;
        height: 570px;
        border: none;
    }
}
